<h1>Welcome to <%= Rails.env.production? ? "guarded-wildwood-61512" : "loalhost:4000" %>!</h1>
<h2>The backend api to JScribble</h2>

<br/>

<p>Append "/users" to get all of the users registered</p>
<p>Append "/images" to get all image data</p>

<br/>

<a href="https://jscribble.netlify.app/">Check out the main website here!</a>